@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    /* Font */
    --e-global-typography-primary-font-family: 'Poppins', sans-serif;
    --e-global-typography-heading-font-family: 'Oswald', sans-serif;
    /* Background liner-gradient */
    --e-global-background-gradient-without-img: linear-gradient(
        180deg
        , #03112D 0%, #03112D 100%);
    --e-global-background-gradient-with-img: url(//img/digital-dotted.png);
    --e-global-background: #04122D;
    --e-global-background-small-square: linear-gradient(
        100deg
        , #FF0C86 0%, #FF7454 100%);
    --e-global-background-testimonials: #EBF1FE;

    /* Font Size */
    --biggest-font-size: 34px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Commonly */

html {
    scroll-behavior: smooth;
}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: var(--e-global-color-text);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* navbar */

header {
    border-bottom: .5px solid #54595fc0;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 20px 15px;
    /* height: 100px; */
}

.logo img {
    width: 60px;
}

.navbar .navbar-item {
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}
.navbar .navbar-item:hover a {
    background: #000;
    border-radius: 4px;
    color: #fff;
}

.navbar .navbar-item.navActive a {
    background: #000;
    border-radius: 4px;
    color: #fff;
}

.navbar .navbar-item a {
    color: var(--e-global-background);
    font-weight: 600;
    padding: 6px 8px;
    transition: .3s;
}

/* navSearch */

.navSearch {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navSearch form {
    display: flex;
    background: #0f1c36;
    align-items: center;
    border-radius: 50px;
    position: relative;
}

.navSearch form input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    margin-left: 10px;
    width: 150px;
}

.navSearch form label {
    background: #fff;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 16px;
    position: relative;
    top: 4px;
    left: 3px;
}

.mainHamburger {
    position: relative;
}

.dotted {
    cursor: pointer;
    font-size: 24px;
    color: #04122D;
    transition: .3s;
}

.mainHamburger::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    background: #54595F;
    width: 40px;
    height: 40px;
    z-index: -2;
    border-radius: 50px;
    opacity: 0;
}

.dotted:hover .mainHamburger::before {
    opacity: 1;
}

/* navHamburger */

.navHamburger {
    position: relative;
}

.mobileMenu {
    position: fixed;
    width: 350px;
    height: 100vh;
    background: #03112D;
    top: 0;
    right: -100%;
    padding: 100px 30px;
    color: #fff;
    z-index: 4;
    transition: .3s;
}

.mobileMenu.mobileActive {
    right: 0;
}

.xBar {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 10px;
    transition: .3s;
}

.xBar:hover {
    color: #04122D;
    background: #fff;
}

.mobileIconItem {
    display: flex;
    margin-top: 30px;
}

.mobileIconItem li {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right: 20px;
    font-size: 24px;
    transition: .3s;
    cursor: pointer;
}

.mobileIconItem li:hover {
    background: #fff;
}

.mobileIconItem li a {
    color: #fff;
    transition: .3s;
}

.mobileIconItem li:hover a {
    color: #04122D;
}

.mobileMenuItem p {
    line-height: 28px;
}

.navHamburger::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #04122d7a;
    transition: .3s;
}

.navHamburger.mobileActive::before {
    left: 0;
}

/* compHamburger */

.compHamburger {
    display: none;
    position: relative;
}

.compHamburger i {
    font-size: 24px;
}

.compHamburger .xComp {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: -1;
    /* transition: .3s; */
}

.compBars {
    z-index: 2;
    background: #fff;
    /* transition: .3s; */
}

/* first */

#first {
    background: linear-gradient(50deg, rgba(45, 54, 145, 0.8) 35%, rgba(79, 162, 130, 0.95)), url(/img/Registan.jpg);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.firstItem {
    padding: 100px 0;
}

.firstItem h1 {
    font-size: 110px;
    font-family: var(--e-global-typography-heading-font-family);
    margin-bottom: 15px;
}

.firstItem p {
    font-size: 24px;
}

.firstItem .line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 50px;
}

.secondItems p {
    color: #20c888;
    font-size: 20px;
    font-weight: 500;
}

.secondItems h3 {
    font-family: var(--e-global-typography-heading-font-family);
    font-size: 42px;
    color: #000;
    letter-spacing: 2px;
}

.secondImgStatistic {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;
    box-shadow: 0px 10px 70px -10px rgb(103 100 253 / 20%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform .3s;
    border-radius: 4px;
    padding: 50px 0px 40px 0px;
    transform: translateY(0);
}

.secondImgStatistic:hover{
    border-bottom: 2px solid #FF7454;
    transform: translateY(-5px);
}

.secondImgStatistic img {
    width: 120px;
    margin: 0 auto;
}

.secondImgStatistic a {
    color: #000;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

/* thirdItems */

.thirdItems{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    overflow: hidden;
}

.thirdItemsInfo h6 {
    color: #20c888;
    margin-bottom: 20px;
    font-size: 18px;
}

.thirdItemsInfo h3 {
    color: #000;
    font-family: var(--e-global-typography-heading-font-family);
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 10px;
}

.thirdItemsInfo p {
    margin: 10px 0;
}

.iconic {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.iconic i {
    color: #20c888;
    font-size: 30px;
    margin-right: 10px;
}

.iconic p {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

#fourth {
    background: var(--e-global-background);
}

.fourth {
    padding: 20px 0;
    background: url(/img/digital-dotted.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth .thirdItemsInfo h3 {
    font-size: 36px !important;
    color: #fff;
}

.fourthItem {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: #fff;
    border-radius: 5px;
}

.fourthItemImg {
    margin-right: 20px;
}

.fourthItemImg i {
    font-size: 32px;
}

.fourthItemInfo h1 {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

/* #FF4968 */

.fourthItem .fourthItemImg i {
    color: #FF4968;
}

.fourthItem1 {
    background-image: linear-gradient(100deg, #FF0C86 0%, #FF7454 100%);
    color: #fff !important;
}

.fourthItem1 .fourthItemImg i {
    color: #fff;
}

.fourthItem1 h1 {
    color: #fff;
}

/* Our team */

.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #17bebb;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    border-radius: 50%;
    font-size: 15px;
    color: #17bebb;
    border: 1px solid #17bebb;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}

.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}

@media (max-width: 992px) {
    .navHamburger {
        display: none;
    }
    .navbar, .navSearch {
        display: none;
    }
    .compHamburger {
        display: block;
        cursor: pointer;
        color: #04122D;
    }

    /* navbar */
    .navbar {
        position: fixed;
        width: 100%;
        display: block;
        background: #fff;
        top: -100%;
        left: 0;
        border-bottom: 2.6px solid rgba(0, 0, 0, 0.15);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 10px;
        transition: .5s;
        z-index: 100;
    }
    .navbar.navbarActive {
        top: 69.5px;
    }
    .navbar .navbar-item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 6px 0;
        transition: .3s;
    }
    .navbar .navbar-item:hover {
        background: #000;
        border-radius: 4px;
        color: #fff;
    }

    .navbar .navbar-item:hover a {
        background: transparent;
    }
    
    .navbar .navbar-item.navActive {
        background: #000;
        border-radius: 4px;
        color: #fff;
    }
    .xComp.navbarActive {
        z-index: 100;
        background: #fff;
    }
    .firstItem h1 {
        font-size: 87px;
    }
    .firstItem p {
        font-size: 22px;
    }
    .iconic i {
        font-size: 20px;
    }
    
    .iconic p {
        font-size: 14px;
    }
    .iconic {
        margin: 6px;
    }
    .fourth {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .firstItem h1 {
        font-size: 57px;
    }
    .firstItem p {
        font-size: 20px;
    }
    .secondItems h3 {
        font-size: 32px;
    }
    .secondItems p {
        font-size: 18px;
    }
    .fourthItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fourthItemInfo {
        display: flex ;
        flex-direction: column;
        justify-content: center;
    }
    .fourthItemImg i {
        font-size: 40px;
    }
    .fourthItemInfo h1 {
        margin: 10px auto;
    }
}

@media (max-width: 576px) {
    .firstItem h1 {
        font-size: 47px;
    }
    .firstItem p {
        font-size: 18px;
        margin-top: 15px;
    }
}