@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    /* Font */
    --e-global-typography-primary-font-family: 'Poppins', sans-serif;
    --e-global-typography-heading-font-family: 'Oswald', sans-serif;
    /* Background liner-gradient */
    --e-global-background-gradient-without-img: linear-gradient(
        180deg
        , #03112D 0%, #03112D 100%);
    --e-global-background-gradient-with-img: url(//img/digital-dotted.png);
    --e-global-background: #04122D;
    --e-global-background-small-square: linear-gradient(
        100deg
        , #FF0C86 0%, #FF7454 100%);
    --e-global-background-testimonials: #EBF1FE;

    /* Font Size */
    --biggest-font-size: 34px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Commonly */

html {
    scroll-behavior: smooth;
}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: var(--e-global-color-text);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* navbar */

header {
    transition: .3s;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}

header.fixed {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff !important;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: .3s;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 20px 15px;
    /* height: 100px; */
}

.navB {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
}

.navbar {
    margin-right: 100px;
}

.navbar .navbar-item {
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}
.navbar .navbar-item:hover a {
    background: #000;
    border-radius: 4px;
    color: #fff;
}

.navbar .navbar-item.navActive a {
    background: #000;
    border-radius: 4px;
    color: #fff;
}

.navbar .navbar-item a {
    color: var(--e-global-background);
    font-weight: 600;
    padding: 6px 8px;
    transition: .3s;
}

/* navSearch */

.navSearch {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navSearch form {
    display: flex;
    background: #0f1c36;
    align-items: center;
    border-radius: 50px;
    position: relative;
}

.navSearch form input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    margin-left: 10px;
    width: 150px;
}

.navSearch form label {
    background: #fff;
    border-radius: 50px;
    padding: 6px 10px;
    font-size: 16px;
    position: relative;
    top: 4px;
    left: 3px;
}

.mainHamburger {
    position: relative;
}

.dotted {
    cursor: pointer;
    font-size: 24px;
    color: #04122D;
    transition: .3s;
}

.mainHamburger::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    background: #54595F;
    width: 40px;
    height: 40px;
    z-index: -2;
    border-radius: 50px;
    opacity: 0;
}

.dotted:hover .mainHamburger::before {
    opacity: 1;
}

/* navHamburger */

.navHamburger {
    position: relative;
}

.mobileMenu {
    position: fixed;
    width: 350px;
    height: 100vh;
    background: #03112D;
    top: 0;
    right: -100%;
    padding: 100px 30px;
    color: #fff;
    z-index: 4;
    transition: .3s;
}

.mobileMenu.mobileActive {
    right: 0;
}

.xBar {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 10px;
    transition: .3s;
}

.xBar:hover {
    color: #04122D;
    background: #fff;
}

.mobileIconItem {
    display: flex;
    margin-top: 30px;
}

.mobileIconItem li {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 10px;
    margin-right: 20px;
    font-size: 24px;
    transition: .3s;
    cursor: pointer;
}

.mobileIconItem li:hover {
    background: #fff;
}

.mobileIconItem li a {
    color: #fff;
    transition: .3s;
}

.mobileIconItem li:hover a {
    color: #04122D;
}

.mobileMenuItem p {
    line-height: 34px;
}

.navHamburger::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #04122d7a;
    transition: .3s;
}

.navHamburger.mobileActive::before {
    left: 0;
}

/* compHamburger */

.compHamburger {
    display: none;
    position: relative;
}

.compHamburger img {
    width: 60px;
}

.compHamburger .xComp {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: -1;
    /* transition: .3s; */
}

.compBars {
    z-index: 2;
    background: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    /* transition: .3s; */
}

/* first */

#first {
    min-height: 100vh;
    color: #fff;
    position: relative;
}

.first {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
    background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.50));
    height: 100vh;
    z-index: 2;
}

/* slideshow */
.slideshow {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.slideshowItem {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshowItem:nth-child(1),
.slideshowItem:nth-child(1) img {
    animation-delay: 0s;
}
.slideshowItem:nth-child(2),
.slideshowItem:nth-child(2) img {
    animation-delay: 7.5s;
}
.slideshowItem:nth-child(3),
.slideshowItem:nth-child(3) img {
    animation-delay: 15s;
}
.slideshowItem:nth-child(4),
.slideshowItem:nth-child(4) img {
    animation-delay: 22.5s;
}

.slideshowItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
    animation: zoom 41s infinite;
}

@keyframes cycleImages {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1);
    }
}

/* #second {
    background: var(--e-global-background);
} */


.firstItem {
    padding: 150px 0 0;
}

.firstItem h1 {
    font-size: 60px;
    font-family: var(--e-global-typography-heading-font-family);
    margin-bottom: 15px;
}

.firstItem p {
    font-size: 24px;
}

.firstItem .line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 70px;
}

.secondItems p {
    color: #20c888;
    font-size: 20px;
    font-weight: 500;
}

.secondItems h3 {
    font-family: var(--e-global-typography-heading-font-family);
    font-size: 42px;
    color: #000;
    letter-spacing: 2px;
}

.secondImgStatistic {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;
    box-shadow: 0px 10px 70px -10px rgb(103 100 253 / 20%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform .3s;
    border-radius: 4px;
    padding: 50px 0px 40px 0px;
    transform: translateY(0);
}

.secondImgStatistic:hover{
    border-bottom: 2px solid #FF7454;
    transform: translateY(-5px);
}

.secondImgStatistic img {
    width: 120px;
    margin: 0 auto;
}

.secondImgStatistic a {
    color: #000;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.secondImgStatisticInfo {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.801);
    display: none;
}

.secondImgStatisticInfoItems {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.secondImgStatisticInfoItems h1 {
    color: #20c888;
    font-family: var(--e-global-typography-heading-font-family);
}

.secondImgStatisticInfo i {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 36px;
    color: #fff
}

.secondImgStatisticInfoItems p {
    font-size: 18px;
    line-height: 28px;
    color: #2e282a;
}

/* thirdItems */

.thirdItems{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    overflow: hidden;
    height: 600px;
}

.thirdItemsInfo h6 {
    color: #20c888;
    margin-bottom: 20px;
    font-size: 18px;
}

.thirdItemsInfo h3 {
    color: #000;
    font-family: var(--e-global-typography-heading-font-family);
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 10px;
}

.thirdItemsInfo p {
    margin: 10px 0;
}

.iconic {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.iconic i {
    color: #20c888;
    font-size: 30px;
    margin-right: 10px;
}

.iconic p {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

#fourth {
    background: var(--e-global-background);
}

.fourth {
    padding: 20px 0;
    background: url(/img/digital-dotted.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth .thirdItemsInfo h3 {
    font-size: 36px !important;
    color: #fff;
}

/* Our team */

.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #20c888;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #20c888;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    border-radius: 50%;
    font-size: 15px;
    color: #20c888;
    border: 1px solid #20c888;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #20c888;
    color: #fff;
}

.our-team:hover .pic{
    background: #20c888;
    border-radius: 50%;
}
.our-team:hover .social li a{
    background: #20c888;
    color: #fff;
}

.ninethSection h1 {
    font-family: var(--e-global-typography-heading-font-family);
    color: #20c888;
}

/* footer */

#footerFirst {
    background: var(--e-global-background);
}

.footerFirstHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.footerFirstHeading h1 {
    color: #fff;
    font-family: var(--e-global-typography-heading-font-family);
    margin: 20px 0;
}

.footForm input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 5px;
    outline: none;
    margin-right: 25px;
    border: none;
}

.footForm button {
    padding: 15px 40px;
    border-radius: 5px;
    outline: none;
    background: #20c888;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.footForm {
    margin: 20px 0;
}

.footLogo {
    margin-bottom: 20px;
}

.footLogo img {
    width: 60px;
}

.footerFirst p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}

.footIcons {
    display: flex;
}

.footIcons li {
    margin-right: 10px;
    border-radius: 50%;
    padding: 4px 10px;
}

.footIcons li a {
    font-size: 20px;
    color: #fff;
}

.footIcons li:first-child {
    background: #2569F3;
}
.footIcons li:nth-child(2) {
    background: #CE0CFF;
}
.footIcons li:nth-child(3) {
    background: #00A2FF;
}
.footIcons li:last-child {
    background: #FF2A78;
}

.footerFirst {
    margin-bottom: 20px;
}

.footerFirstLinks h6 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.footerUl {
    margin-bottom: 20px;
}

.footerUl li {
    color: #c2c2c2;
    margin-bottom: 15px;
}

.footerUl li i {
    margin-right: 15px;
    color: #fff;
    font-size: 18px;
}

.footerFirstLinks p {
    color: #c2c2c2;
}

#footerSecond {
    padding: 21px 0;
    background: #061534;
    border-top: #1e345f .5px solid;
}
#footerSecond p {
    margin: 0;
}

/* form */
#tenth {
    /* background-image:linear-gradient(153deg, rgba(0,36,16,0.6474964985994398) 7%, rgba(0,255,188,0.47942927170868344) 58%, rgba(0, 213, 255, 0.356) 100%), url(/img/bgforContact.jpg); */
    /* background-size: cover;
    background-position: center; */
    background-color: rgba(6,63,150,0.07);
    padding: 20px 0;
}

.tenthItemHeading h1 {
    font-family: var(--e-global-typography-heading-font-family);
    margin-bottom: 20px;
    color: #20c888;
}

.tenthItemHeading p {
    color: #2e282a;
}

.tenthItemIcon {
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.tenthItemIcon i {
    font-size: 24px;
    margin-right: 20px;
    background: #20c888;
    color: #fff;
    border-radius: 100px;
    padding: 16px 18px;
}

.tenthItemIconPhone i {
    padding: 16px 15px;
}

.tenthIconItem h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
}

.tenthForm {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    position: relative;
    padding: 50px 40px;
}

.tenthFormHeading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #20c888;
    color: #fff;
    border-radius: 4px;
    width: 70%;
    text-align: center;
    padding: 6px 0;
    top: -10px;
}

.tenthFormHeading h4 {
    margin: 6px 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 20px 0;
}

.formGroup {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.formGroup input,
.formGroup textarea
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 1px solid #666;
}

.formGroup label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    transition: .5s;
    color: #666;
    pointer-events: none;
}

.formGroup input:focus ~ label,
.formGroup textarea:focus ~ label,
.formGroup input:valid ~ label,
.formGroup textarea:valid ~ label {
    color: #e91e63;
    font-size: 12px;
    top: -20px;
}

.formGroup button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 6px 40px;
    border-radius: 5px;
    background: #20c888;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.formGroup span {
    display: block;
    color: #666;
    margin-bottom: 10px;
}

.formGroup select {
    background: #fff;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #666;
    display: block;
    padding: 5px 0;
    width: 100%;
    outline: none;
}
/* img armo */

.armo {
    background: url(/img/amocrm-logo-dark.png);
    background-size: cover;
    background-position: center;
    background-color: #0084C0;
}
.moySklad {
    background: url(/img/moysklad.jfif);
    background-size: cover;
    background-position: center;
    background-color: #2754AE;
}
.Profitbase {
    background: url(/img/profitbase.png);
    background-size: cover;
    background-position: center;
}
.megaplan {
    background: url(/img/megaplan.jpg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

/* .megaplan, .Profitbase, .moySklad, .armo */

.secondImgStatistic {
    padding: 100px 0;
    cursor: pointer;
}

/* fourthItem */

.fourthItem {
    background: #20c888;
    border-radius: 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.fourthItemImg {
    margin-bottom: 20px;
}

.fourthItem1 {
    margin: 0 !important;
}

.fourthItem1 img {
    width: 80px !important;
    margin: 0;
}

.fourthItemImg {
    margin-top: 24px;
}

.fourthItemImg img {
    width: 140px;
}

.fourthItemInfo h1 {
    font-size: 32px;
}

/* footerUl */

.footerUl li a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 992px) {
    .navHamburger {
        display: none;
    }
    .navbar, .navSearch {
        display: none;
    }
    .compHamburger {
        display: block;
        cursor: pointer;
        color: #04122D;
    }

    /* navbar */
    .navbar {
        position: fixed;
        width: 100%;
        display: block;
        background: #fff;
        top: -100%;
        left: 0;
        border-bottom: 2.6px solid rgba(0, 0, 0, 0.15);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-top: 10px;
        transition: .5s;
        z-index: 100;
    }
    .navbar.navbarActive {
        top: 69.5px;
    }
    .navbar .navbar-item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 6px 0;
        transition: .3s;
    }
    .navbar .navbar-item:hover {
        background: #000;
        border-radius: 4px;
        color: #fff;
    }

    .navbar .navbar-item:hover a {
        background: transparent;
    }
    
    .navbar .navbar-item.navActive {
        background: #000;
        border-radius: 4px;
        color: #fff;
    }
    .xComp.navbarActive {
        z-index: 100;
        background: #fff;
    }
    .firstItem h1 {
        font-size: 50px;
    }
    .firstItem p {
        font-size: 20px;
    }
    .iconic i {
        font-size: 20px;
    }
    
    .iconic p {
        font-size: 14px;
    }
    .iconic {
        margin: 6px;
    }
    .fourth {
        background-image: none;
    }
    .logo {
        display: none;
    }
}

@media (max-width: 768px) {
    .firstItem h1 {
        font-size: 40px;
    }
    .firstItem p {
        font-size: 18px;
    }
    .secondItems h3 {
        font-size: 32px;
    }
    .secondItems p {
        font-size: 18px;
    }
    
    .footForm input {
        margin-bottom: 20px;
    }
    .megaplan, .Profitbase, .moySklad, .armo {
        /* width: 50%; */
        background-size: 70%;
        background-repeat: no-repeat;
        /* overflow: hidden; */
    }
    
    .secondImgStatisticInfoItems {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .firstItem h1 {
        font-size: 35px;
    }
    .firstItem p {
        font-size: 18px;
        margin-top: 15px;
    }
    .footForm input {
        margin-bottom: 20px;
    }
    .footerFirst {
        margin-bottom: 25px;
    }
    .footForm input {
        width: 90%;
    }
    .wrapper1 .secondImgStatisticInfoItems p {
        font-size: 14px;
    }
    .wrapper1 .secondImgStatisticInfoItems h1 {
        font-size: 24px;
    }
}